body {
    background-color: #c5c5c5;
}
.div_b {
    background-color: white;
    height: 500px;
    width: 50vw;
    border: 10 dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div_c {
    background-color: yellow;
    height: 50px;
    width: 30%;
}
.div_d {
    background-color: rgb(255, 68, 0);
    height: 100px;
    width: 30%;
}
.div_e {
    background-color: rgb(0, 110, 0);
    color: white;
    font-size: 30px;
    margin: 50px;
    padding: 50px;

}